<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title '' %} - Newsletter Application</title>
        <link href="{{ asset('css/compiled/main.css') }}" rel="stylesheet">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
